<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated clienteservidortcp -->
      <package
            uri="http://www.example.org/clienteservidortcp"
            class="clienteservidortcp.ClienteservidortcpPackage"
            genModel="model/clienteservidortcp.genmodel"/>
   </extension>

</plugin>
